{% extends "fmd_base.html" %}
{% block adminpage %}
    <div id="alert" class="alert alert-warning alert-dismissible" ng-show="alertShow">
        <a class="close" data-dismiss="alert" aria-label="close"
           ng-click="alertShow = false">&times;</a>
        <strong>Warning:</strong>
        Version {{ pypi_version }} is now available, while you are still using
        version .<br/>
        To upgrade run the following command on your server: <code>pip install --upgrade
        flask_monitoringdashboard</code>
    </div>
    <div class="card mb-3">
        <div class="card-header"><h4>Dashboard Overview </h4></div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <div class="card-body">
            <div class="spinner" ng-controller="FormController"
                 ng-show="table.length === 0">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <br>
                    <br>
                    <br>
                    <br>









                <div class="container">
                  <div class="col">
                    <div class="row" style="border: #0f6674; border-style: solid;" >
                        <p style="color:#0f6674; font-style: italic;">Original Siganture</p> : <p style="color:#0f6674;"> Orignal</p>
                         <img src="/static/images/sign/real/001001_000.png" class="img-fluid" >
                    </div>
                      <br>
                      <br>
                    <div class="row" style="border: #0f6674; border-style: solid;">
                        <p style="color:red;  font-style: italic;"> Signature</p> <p style="color:#0f6674;"> {{ chequeforgery }}</p>
                        <img src="/static/images/signature.png" class="rounded float-start" >
                    </div>
                      <br>
                      <br>
                    <div class="row" style="border: #0f6674; border-style: solid;">
                        <p style="color:#0f6674;  font-style: italic;">Name</p> :  <p style="color:#0f6674;"> {{ verificationName }}</p>
                        <img src="/static/images/name/name.png" class="rounded float-middle" width="70%" >
                    </div>
                      <br>
                      <br>
                      <div class="row" style="border: #0f6674; border-style: solid;">
                          <p style="color:#0f6674;">Amount</p> : <p style="color:#0f6674;"> {{ verificationAmount }} </p>
                      <img src="/static/images/amount/amount.png" class="rounded float-end" >

                    </div>
                      <br>
                      <br>
                      <div class="row" style="border: #0f6674; border-style: solid;">
                          <p style="color:#0f6674; font-style: italic;">Date</p> : <p style="color:#0f6674;"> {{ verificationDate }}</p>
                     <img src="/static/images/date/date.png" class="rounded float-middle" >
                    </div>
                  </div>
                </div>


            <ul class="pagination">

                <button style="color: #1e7e34;">
                 <a
                target="_blank"
                href="{{ url_for('dashboard.SMS') }}"
                >Confirm</a></button>
            </ul>
        </div>
    </div>



</div>
{% endblock %}
