{% extends "fmd_base.html" %} {% block body %}

<body>
  <div class="container py-5">
    {% if show_login_banner %}
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="text-center" style="margin-bottom: 20px; margin-top: -30px">
          <div style="text-align: center">

          </div>
          <span
            ></span
          >
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-4 offset-md-4">
        <span class="anchor" id="formLogin"></span>
        <div class="card card-outline-secondary">
          <div class="card-header">
            <h5>Resgister </h5>
          </div>

          <div class="card-body">
            <form class="form" method="POST" action="createaccount">
              <div class="form-group">
                <label for="formName"><i class="fa fa-user"></i> Login</label>
                <input
                  id="formName"
                  name="login"
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  autofocus
                  required
                />
              </div>

              <div class="form-group">
                <label for="formPassword"
                  ><i class="fa fa-lock"></i> Password</label
                >
                <input
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="formlastname"
                  ><i class="fa fa-user"></i> first name</label
                >
                <input
                  name="firstname"
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="formlastname"
                  ><i class="fa fa-user"></i> Last name</label
                >



                <input
                  name="lastname"
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  required
                />
              </div>

              <div class="form-group">
                <label for="formmail"
                  ><i class="fa fa-envelope"></i> Mail</label
                >
                <input
                  name="mail"
                  type="email"
                  class="form-control"
                  placeholder="Type your email"
                  required
                />

              </div>
                <a data-toggle="modal" data-target="#myModal">
                <button name="" class="btn btn-primary btn-block">
                Add Signature
              </button>
                </a>
                <br>
              <button name="Createaccount" class="btn btn-primary btn-block">
                Create account
              </button>
            </form>
            <hr />


          </div>
        </div>
      </div>
    </div>
  </div>
</body>


     <div aria-labelledby="exampleModalLongTitle" class="modal fade" id="myModal" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Signature</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                    <div class="row justify-content-center mt-0">
        <div >
            <div >
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">

                             <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Insert your first model</h2>
                                <canvas id="canvas" width="250" height="250"></canvas>
                                </div><input type="button" id="clearButton" value="Réinitialiser" class=""><input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                             <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Insert your second model</h2>
                                    <canvas id="canvas2" width="250" height="250"></canvas>
                                </div><input type="button" id="clearButton2" value="Réinitialiser" class=""> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
                            </fieldset>
                           <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Insert your third model</h2>
                                    <canvas id="canvas3" width="250" height="250"></canvas>

                                </div> <input type="button" id="clearButton3" value="Réinitialiser" class=""><input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="make_payment" class="next action-button" value="Confirm" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Insert your fourth model</h2>
                                    <canvas id="canvas4" width="250" height="250"></canvas>

                                </div> <input type="button" id="clearButton4" value="Réinitialiser" class=""> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="make_payment" class="next action-button" value="Confirm" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                            <button id = "nextButton" class="btn btn-secondary" type="button">Finish</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
                  </div>
                </div>
            </div>




{% endblock %}

